.nav{
  padding-bottom: 120px;
}

.main-container {
  padding-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  border: 1px red solid;
}

input,
select,
textarea {
    max-width: 400px;
}
