<footer>
  <div class="main">
    <div class="content footer-links">
      <div class="footer-company">
        <h3>Contatos:</h3>
        <h5>Assistencia 24hrs: 0800 923 3294</h5>
        <h5>WhatsApp Suporte: +55 31 9999-8838</h5>
      </div>
      <br>
      <div class="footer-endereco">
        <h3>Endereço:</h3>
        <h5>Rua Solitude Pereira Aragão</h5>
        <h5>Número: 870 7ºandar</h5>
      </div>
      <br>
      <div class="footer-redes">
        <h3>Redes sociais:</h3>
        <div class="redes-icons">
          <a href="http://www.instagram.com" target="_blank"><img src="assets/img/instagram.png" alt="Instagram"></a>
          <a href="http://web.whatsapp.com" target="_blank"><img href="" src="assets/img/whatsapp.png"
              alt="Whatsapp"></a>
          <a href="http://linkedin.com" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="last">
    <h3>Copyright ProtectCell 2022 º PUC MINAS </h3>
  </div>
</footer>
