<div class="nav">
  <app-nav></app-nav>
</div>
<div class="container main-container">
  <h5>Trabalhe Conosco</h5>
  <hr />
  <form novalidate [formGroup]="cadastroForm">
    <div class="form-horizontal">

      <div class="form-group">
        <label class="col-md-2 control-label" for="nome">Nome Completo</label>
        <div class="col-md-10">
          <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">E-mail</label>
        <div class="col-md-10">
          <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Telefone</label>
        <div class="col-md-10">
          <input class="form-control" id="cpf" type="text" placeholder="CPF (requerido)" formControlName="cpf" cpf />
        </div>
      </div>

      <select class="form-select mt-2" aria-label="Disabled select example">
        <option selected>Gênero</option>
        <option value="1">Masculino</option>
        <option value="2">Feminino</option>
        <option value="3">Outro</option>
      </select>

      <div class="form-group">
        <label class="col-md-2 control-label">Data Nascimento</label>
        <div class="col-md-10">
          <input class="form-control" id="data" type="date" placeholder="Senha (requerido)" formControlName="data" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="nome">Estado</label>
        <div class="col-md-10">
          <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="nome">Cidade</label>
        <div class="col-md-10">
          <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="nome">Endereco</label>
        <div class="col-md-10">
          <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" />
        </div>
      </div>

      <div class="input-group mt-2">
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
          aria-label="Upload">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Enviar</button>
      </div>


      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span><button class="btn btn-success mt-3" id="Registrar" [disabled]="!cadastroForm.valid"
              type="submit">Registrar</button></span>
        </div>
      </div>
    </div>
  </form>
</div>
