.main-container {
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  border: 1px solid;
  width: 800px;
}

.nav{
  margin-bottom: 120px;
}

input,
select,
textarea {
    max-width: 500px;
}
