<header>
  <div class="content">
    <nav>
      <img src="assets/img/icon_protection.png" alt="Icone da Empresa">
      <a href="index.html" class="brand"><strong>VP</strong>rotection</a>
      <h2>Venha trabalhar conosco!</h2>
    </nav>

    <div class="header-block">
      <div class="form-description">
        <h2>Após o preenchimento do formulário aguarde o nosso contato!</h2>
        <h2>Por isso é bastante importante os dados estarem corretos!</h2>
      </div>
      <!-- AREA DO FORMULARIO -->
      <!-- CRIAÇÃO DE FORMULÁRIO POSSUI DIVERSAS TAGS DIFERENTES -->
      <form method="POST" action="https://formsubmit.co/vprotectionprotecao@outlook.com" enctype="multipart/form-data"
        class="formulario">
        <fieldset class="box">
          <br>
          <legend><b>PREENCHA O FORMULÁRIO ABAIXO:</b></legend>
          <div class="inputs">
            <!-- o "for" da label refere ao "id" dos inputs -->
            <label for="nome">Nome completo:</label>
            <input type="text" class="inputUser" name="nome" id="nome" required>
            <br>
            <!-- A TAG "REQUIRED" obriga o uso do input -->
            <label for="email">Email:</label>
            <input type="text" class="inputEmail" name="email" id="email" required>
            <br>
            <label for="telefone">Telefone (WhatsApp de preferência):</label>
            <input type="tel" class="inputTelefone" name="telefone" id="telefone" required>
          </div>
          <br>
          <h4>Sexo:</h4>
          <div class="sexo">
            <!-- O campo VALUE é para quando receber o formulario saber o valor marcado pelo usuario -->
            <input type="radio" class="inputGenero" name="genero" id="feminino" value="feminino" required>
            <label for="feminino">Feminino</label>
            <input type="radio" class="inputGenero" name="genero" id="masculino" value="masculino" required>
            <label for="masculino">Masculino</label>
            <input type="radio" class="inputGenero" name="genero" id="outro" value="outro" required>
            <label for="outro">Outro</label>
          </div>
          <br>
          <h4>Data de nascimento:</h4>
          <div class="data-nascimento">
            <input type="date" class="inputDataNascimento" name="data" id="data">
          </div>
          <br>
          <div class="inputs">
            <!-- o "for" da label refere ao "id" dos inputs -->
            <label for="estado">Estado:</label>
            <input type="text" class="inputCidade" name="estado" id="estado" required>
            <br>
            <!-- A TAG "REQUIRED" obriga o uso do input -->
            <label for="cidade">Cidade:</label>
            <input type="text" class="inputCidade" name="cidade" id="cidade" required>
            <br>
            <label for="endereco">Endereço:</label>
            <input type="text" class="inputEndereco" name="endereco" id="endereco" required>
          </div>
          <br>
          <div class="inputArchive">
            <label for="arquivo">Deixe o seu curriculo aqui:</label>
            <br>
            <input type="file" name="arquivo" id="arquivo" accept="application/*">
          </div>
          <br>
          <br>
          <div class="enviarBtn">
            <input class="enviar" type="submit" name="enviar" id="enviar" onclick=msgEnvio()>
            <!-- SCRIPT BÁSICO DE ALERT PARA O SUBMIT ACIMA.-->
            <script>
              function msgEnvio() {
                var email = document.getElementById("email");
                var data = document.getElementById("data");
                if (email.value !== "" & data.value !== "") {
                  alert(`Suas informações foram enviadas para análise, em breve entraremos em contato!`)

                }
                else {
                  alert("O CAMPO DE EMAIL E DATA SÃO OBRIGATÓRIOS!")
                }
              }
            </script>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</header>
<app-footer></app-footer>
