/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
    font-family: 'Lato';
}

.bg-primary-color {
    background-color: #fff;
}

.bg-secondary-color {
    background-color: #ece8ea;
}

.bg-dark-color {
    background-color: #050505;
}

.primary-color {
    color: #050505;
}

.secondary-color {
    color: #7a7a7a;
}
