@using SeguroCelular.Mvc.Models.Enums
@model SeguroCelular.Mvc.Models.CotacaoSeguro

@{
    ViewData["Title"] = "Create";
}

<h1>Faça uma Cotação</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModeloCelular" class="control-label"></label>
                <input asp-for="ModeloCelular" class="form-control" />
                <span asp-validation-for="ModeloCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <select asp-for="Valor" class="form-control" asp-items="Html.GetEnumSelectList<EValoresCelular>()"></select>
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
                <a class="btn btn-info" asp-controller="CotacaoSeguro" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

