<app-nav></app-nav>
<!--SLIDER-->
<div class="container" id="slider-container">
  <div class="carousel slide" id="slider" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button class="active" data-bs-target="#slider" type="button" data-bs-slide-to="0" aria-current="true"
        aria-label="slide 1"></button>
      <button data-bs-target="#slider" type="button" data-bs-slide-to="1" aria-current="true"
        aria-label="slide 2"></button>
      <button data-bs-target="#slider" type="button" data-bs-slide-to="2" aria-current="true"
        aria-label="slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/slide1.png" alt="Cotação 1" class="d-block w-100">
        <div class="carousel-caption">
          <h5>Fique Despreocupado</h5>
          <a href="cotacao.html" class="btn btn-dark">Fazer Cotação</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/slide2.jpg" alt="Cotação 2" class="d-block w-100">
        <div class="carousel-caption">
          <h5>Proteja Seu Veículo</h5>
          <a href="cotacao.html" class="btn btn-dark">Fazer Cotação</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/slide3.jpg" alt="Cotação 3" class="d-block w-100">
        <div class="carousel-caption">
          <h5>Tenha Controle</h5>
          <a href="cotacao.html" class="btn btn-dark">Fazer Cotação</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
      <em class="bi bi-chevron-compact-left"></em>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
      <em class="bi bi-chevron-compact-right"></em>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--MINI BANNERS-->
  <div class="col-12 col-md-10 offset-md-1" id="mini-banners">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card text-center">
          <em class="bi bi-back primary-color"></em>
          <div class="card-body">
            <h5 class="card-title primary-color">Missão</h5>
            <p class="card-text secondary-color">Oferecer transparência, honestidade e excelência de
              qualidade na prestação de serviços de seguros...
            </p>
            <a href="sobrenos.html" class="btn btn-dark">Saber Mais</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card text-center">
          <em class="bi bi-eye-fill primary-color"></em>
          <div class="card-body">
            <h5 class="card-title primary-color">Visão</h5>
            <p class="card-text secondary-color">Ser líder e inovadora na prestação de serviços de
              seguros, referência na gestão do conhecimento...
            </p>
            <a href="sobrenos.html" class="btn btn-dark">Saber Mais</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card text-center">
          <em class="bi bi-archive-fill primary-color"></em>
          <div class="card-body">
            <h5 class="card-title primary-color">Valores</h5>
            <p class="card-text secondary-color">Organização, verdade, integridade, ética e
              transparência são os valores que norteiam as atividades e os colaboradores da V
              Protection.
            </p>
            <a href="sobrenos.html" class="btn btn-dark">Saber Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
