<body>
  <header>
    <div class="content">
      <app-nav></app-nav>
      <div class="header-block">
        <div class="text">
          <h2>Sobre a VProtection:</h2>
          <p><b>Com transparência, eficiência e agilidade, somos o melhor no ramo de proteção do país. Nosso
              time é treinado para garantir serviços exclusivos de alto padrão na proteção do seu veículo.
              Com a assistência 24 horas, 7 dias por semana, nossa equipe está pronta para atender todos
              os chamados e garantir os benefícios dos associados!</b></p>
        </div>
        <div class="sua-protecao">
          <h2>A proteção que você precisa é com a VP!</h2>
        </div>
      </div>

    </div>
  </header>
  <app-footer></app-footer>
