@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><span><strong>Protect</strong>Cell</span></h1>
    <p>
        Com transparência, eficiência e agilidade, somos o melhor no ramo de proteção do país. Nosso
        time é treinado para garantir serviços exclusivos de alto padrão na proteção do seu celular.
        Com a assistência 24 horas, 7 dias por semana, nossa equipe está pronta para atender todos
        os chamados e garantir os benefícios dos associados!
    </p>
</div>
