@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <span><strong>Protect</strong>Cell</span>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
